@font-face {
  font-family: "Monument";
  src: url("../fonts/UniversNextW1G-Bold.otf");
}

@font-face {
  font-family: "Monument-light";
  src: url("../fonts/UniversNextW1G-Regular.otf");
}

::-moz-selection {
  color: rgb(211, 211, 211);
}

::selection {
  color: rgb(211, 211, 211);
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar width */
  background: transparent;
  /* Optional: Make scrollbar transparent */
}

/* For IE and Edge */
body {
  -ms-overflow-style: none;
  /* IE 10+ */
}

html {
  font-size: 11px;
  scrollbar-width: none;
  /* Firefox 64+ */
}

body::-webkit-scrollbar {
  display: none;
}

body a {
  color: black;
  text-decoration: none;
}

:root {
  --gap: 1rem;
  --plyr-color-main: white;
  --plyr-video-controls-background: linear-gradient(rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.1));
  --plyr-control-icon-size: 1.2rem;
  --plyr-video-control-background-hover: none;
}

body {
  font-family: Monument;
  font-size: 11px;
}

/* HEADER */
header {
  position: sticky;
  padding: var(--gap);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  top: 0;
  background-color: white;
  z-index: 1000;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.menu-wrapper .last:nth-last-child() {
  text-transform: uppercase;
}

.code {
  text-transform: uppercase;
}

header .menu-wrapper .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo img {
  height: 1rem;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: var(--gap);
  margin-right: var(--gap);
  cursor: pointer;
}

.button::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #d9d9d9;
  border: calc(var(--gap) / 5) solid #d9d9d9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin-right: calc(var(--gap) / 3);
}

.active::before {
  background-color: black;
}

/* HOMEGRID */
.projects-wrapper {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  -ms-grid-columns: 1fr var(--gap) 1fr var(--gap) 1fr var(--gap) 1fr var(--gap) 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: var(--gap);
  grid-template-columns: repeat(auto-fill, minmax(18vw, 1fr));
  grid-auto-flow: dense;
  padding-left: var(--gap);
  padding-right: var(--gap);
  padding-top: var(--gap);
  padding-bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  grid-row-gap: var(--gap);
}

.projects-wrapper .two-col {
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

.projects-wrapper a:first-child .landscape * {
  -o-object-fit: cover;
  object-fit: cover;
}

.long-width {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.long-width:last-child {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-row {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 27vw;
}

.project-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  padding: 0.5rem;
  opacity: 0;
  height: 100%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
}

.project-text .title {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: white;
}

.project-text .titleblack{
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: black;
}


.project-image {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.project-image img {
  width: 100%;
}

/* ABOUT */

.about-wrapper {
  font-size: 17px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr var(--gap) 1fr var(--gap) 1fr var(--gap) 1fr var(--gap) 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: var(--gap);
  padding-left: var(--gap);
  padding-right: var(--gap);
  padding-top: var(--gap);
  padding-bottom: var(--gap);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  grid-row-gap: var(--gap);
  opacity: 0;
}

.about-wrapper .about-short-introduction {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.about-wrapper .about-contact {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.about-wrapper .about-long-introduction {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: 1 / 3 / 2 / 6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* .hide {
    opacity: 0 !important;
} */

.list-wrapper {
  opacity: 1;
}

.show-list .list-wrapper {
  opacity: 0;
}

/* ANIMATION */
.show-index .project-image {
  opacity: 1;
}

.show-text .project-text {
  opacity: 1;
  z-index: 10;
}

.show-index .project-text {
  color: black;
}

.show-about .about-wrapper {
  opacity: 1;
}

.show-text .project-image .media {}

.media {
  height: 100%;
  width: 100%;
}

.media * {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.landscape * {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}

/* PROJECT */
.project-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: white;
  z-index: 100;
  position: sticky;
  top: 2rem;
  opacity: 0;
}

.project-menu .project-menu-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr var(--gap) 1fr var(--gap) 1fr var(--gap) 1fr var(--gap) 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: var(--gap);
  padding-left: var(--gap);
  padding-right: var(--gap);
  padding-top: var(--gap);
  padding-bottom: calc(var(--gap) * 1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  grid-row-gap: var(--gap);
}

.show-text .project-menu {
  opacity: 1;
}

.project-menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: end;
  -webkit-box-pack: end;
}

.last {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.images-wrapper {
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr var(--gap) 1fr var(--gap) 1fr var(--gap) 1fr var(--gap) 1fr var(--gap) 1fr var(--gap) 1fr var(--gap) 1fr var(--gap) 1fr var(--gap) 1fr;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: var(--gap);
  padding-left: var(--gap);
  padding-right: var(--gap);
  padding-top: var(--gap);
  padding-bottom: var(--gap);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  grid-row-gap: var(--gap);
  margin-top: -3.5rem;
  opacity: 0;
}

.show-index .images-wrapper {
  opacity: 1;
}


.projects-slider {
  font-size: 17px;
}

.images-wrapper .slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 6;
  grid-area: 1 / 3 / 2 / 9;
  margin-top: 3rem;
  z-index: 20;
}

.images-wrapper .slider-wrapper figure {
  width: 100%;
}

.images-wrapper .slider-wrapper figure img {
  width: 100%;
  height: auto;
}

.images-wrapper .slider-wrapper figure video {
  width: 100%;
  height: auto;
}

.images-wrapper .slider-wrapper section {
  margin-bottom: 1rem;
}
/* 
.project-description {
  bottom: 1rem;
  left: 1rem;
  opacity: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: auto;
  height: auto;
  padding-bottom: 0;
  padding-top: 1rem;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
} */


.project-description p {
  -webkit-column-span: all;
  -moz-column-span: all;
  column-span: all;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 19;
  grid-area: 1 / 1 / 2 / 20;
  padding-right: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 1rem;
}

.german {
  font-family: Monument-light;
}

h1{
  font-size: large;
}

.show-text .project-description {
  opacity: 1;
}

.photo-wrapper { 
  display: none;
  opacity: 0; 
}

.show-photo .photo-wrapper { 
  display: flex;
  opacity: 1; 
}

.show-photo .photo-wrapper .two-col {
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

.arch-wrapper { 
  display: none;
  opacity: 0; 
}

.show-arch .arch-wrapper { 
  display: flex;
  opacity: 1; 
}

.show-arch .arch-wrapper .two-col {
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

.model-wrapper { 
  display: none;
  opacity: 0; 
}

.show-model .model-wrapper { 
  display: flex;
  opacity: 1; 
}

.show-model .model-wrapper .two-col {
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

.logo-introduction {
  width: 40vw;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-introduction img {
  width: 100%;
}

.images-wrapper .slider-wrapper section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.images-wrapper .slider-wrapper section>* {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.language a {
  color: gray;
  text-transform: uppercase;
}

.language:first-child::after {
  content: "/";
}

.language:last-child {
  padding-left: 0.25rem;
}

.language.active a {
  color: black;
}

.two-col .media>* {
  -o-object-fit: cover;
  object-fit: cover;
}

.credits-wrapper {
  overflow-x: scroll;
  padding-top: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.2rem;
  height: auto;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 10;
}

.credits {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.credits .credits-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.credits .credits-container .names-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.credits .credits-container .names-wrapper:last-child {
  padding-right: 1rem;
}

.container {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-size: 17px;
}

.container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.container button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-align: inherit;
  cursor: default;
  font-size: 17px;
}

.container .field:first-child {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container .control .button {
  margin: 0;
}

.container .button::before {
  display: none;
}

.container .control {
  border-bottom: 1px solid black;
}

.help {
  margin-top: 0.5rem;
}

.is-danger {
  color: rgb(180, 180, 180);
}

@media (max-width: 800px) {
  .about-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .projects-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .project-row {
    height: auto;
  }

  .project-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .project-menu {
    top: 0;
    position: relative;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .project-description {
    position: relative;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    padding: 1rem;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }

  .images-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 0;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .long-width:first-child {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .long-width:last-child {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  .project-description {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .project-description p {
    width: 100%;
    padding: 0;
  }

  .en-fr .active {
    display: none;
  }

  .en-fr {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }

  .language:first-child::after {
    content: " " !important;
  }

  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: calc(var(--gap) / 1.5);
    margin-right: calc(var(--gap) / 1.5);
    cursor: pointer;
  }

  .project-menu-wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0 !important;
  }

  .project-menu-wrapper>* {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }

  .credits-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}

.image-container {
  overflow: hidden;
}

.image-container img {
  -webkit-transition: -webkit-filter 0.5s ease, -webkit-transform 0.3s ease-in-out;
  transition: -webkit-filter 0.5s ease, -webkit-transform 0.3s ease-in-out;
  -o-transition: filter 0.5s ease, transform 0.3s ease-in-out;
  transition: filter 0.5s ease, transform 0.3s ease-in-out;
  transition: filter 0.5s ease, transform 0.3s ease-in-out, -webkit-filter 0.5s ease, -webkit-transform 0.3s ease-in-out;
}

.lazyload {
  -webkit-filter: blur(100px);
  filter: blur(100px);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.lazyloading {
  -webkit-filter: blur(100px);
  filter: blur(100px);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

footer {
  padding: var(--gap);
  box-sizing: border-box;
  color: #acacac;
  display: flex;
  justify-content: space-between;
}