@font-face {
	font-display: swap;
	font-family: Linked;
	font-weight: 500;
	line-height: 1;
	src: url(Fonts/UniversNextW1G-Regular.otf)
  }

/* VARS
============================== */
:root{
    /* Small */
    --fss: 0.8rem; /* 14px */
    --lhs: 1.1;
  
    /* Big */
    --fsl: 1rem;     /* 16px */
    --lhl: 1.1;     
  }

/* basic*/
.full {
    width: 100vw;
}

.fixed {
    position: fixed
}

.top-0 {
    top: 0
}

.left-0 {
    left: -0px
}

main {
    height: 100%;
    width: 100%
}

.tg-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1rem
}

.tg-info-grid {
    display: grid;
    grid-template-columns: 20ch 1fr;
    gap: 0 1rem
}

.tg-mobile-info-grid {
    display: grid;
    grid-template-columns: 15ch 1fr;
    gap: 0 1rem
}


.grid {
    display: grid
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
}

.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr))
}

.grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr))
}

.grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr))
}

.carousel {
    background-color: cornflowerblue;
}



.items-start {
    align-items: flex-start
}

.w-screen {
    width: 100vw
}

.p-4 {
    padding: 1rem
}

.mb {
    visibility: hidden;
}

header {
    margin: 0;
    line-height: inherit;
    background: transparent;
}

body {
    margin: 0;
    line-height: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: hsl(0, 0%, 80%);
    font-family: Linked;
    font-size: .95rem;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@media(min-width:2000px) {

    html,
    body {
        font-size: 1.1rem;
        line-height: 1.2
    }
}


.hero {
    height: calc(100vh - 14rem);         /* full viewport height */
    display: flex;
    flex-direction: column;
    
  }

  .hero-full {
    display: flex;
    flex-direction: column;
  }

  .hero-bottom {
    margin-top: auto;
  }


  .footer {
    margin-top: 0; /* position starts right after hero */
    background-color: hsl(317, 44%, 33%);
  }

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 15px; /* space between columns */
    width: 100%;
    box-sizing: border-box;
  }
  
  .column {
    background-color: none;
    padding: 0px;
    box-sizing: border-box;
    vertical-align: baseline;
  }

ul{
    list-style: none;
    margin: 0;
    padding: 0
}

  .col-span-12 {
    grid-column: span 12 / span 12
    }

    .col-span-2 {
        grid-column: span 2 / span 2
    }

    .col-span-3 {
        grid-column: span 3 / span 3
    }

    .col-span-6 {
        grid-column: span 6 / span 6
    }

    .col-span-9 {
        grid-column: span 9 / span 9
    }

    .col-start-1 {
        grid-column-start: 1
    }
    
    .col-end-13 {
        grid-column-end: 13
    }

    .gap-0 {
        gap: 0px
    }
    
    .gap-4 {
        gap: 1rem
    }

    .aspect-\[3\/4\] {
        aspect-ratio: 3/4
    }

    .aspect-\[4\/5\] {
        aspect-ratio: 4/5
    }

    .aspect-\[5\/4\] {
        aspect-ratio: 5/4
    }

    .object-contain {
        -o-object-fit: contain;
        object-fit: contain
    }

    .object-cover {
        -o-object-fit: cover;
        object-fit: cover
    }

    .w-full {
        width: 100%
    }

    .h-full {
        height: 100%
    }

    .h-\[80\%\] {
        height: 80%
    }
    

    .py-40 {
        padding-top: 10rem;
        padding-bottom: 10rem
    }

    .pb-40 {
        padding-bottom: 10rem
    }
    
    

    .py-52 {
        padding-top: 13rem;
        padding-bottom: 13rem
    }

    .py-1 {
        /* padding-top: 13rem; */
        padding-bottom: 1rem
    }

    .py-landing {
        padding-top: 13rem;
        padding-bottom: 1rem
    }

    .space-y-4>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(1rem * var(--tw-space-y-reverse))
    }
    
    .px-4 {
        padding-left: 1rem;
        padding-right: 1rem
    }



  
  /* Mobile breakpoint */
  @media (max-width: 768px) {
    .container {
      grid-template-columns: repeat(1, 1fr);
    }
  }

.hero {
    overflow-y: scroll;
}


.content{
    text-align: left;
}

.content-bottom{
    text-align: left;
    text-align: bottom;
}

.order-first {
    order: -9999
}

.work{
    text-align: left;
    margin-top: -0.1rem;
}

h1{
    font-family: Linked;
}


a{
    font-family: Linked;
    text-decoration: none;
    color: black;
}

p {
    font-family: Linked;
    text-decoration: none;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
}

p>u {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    text-decoration-line: none
}

p>i {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    font-style: italic;
}


a:hover{
    font-family: Linked;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.text-small{
	font-size: var(--fss);
	line-height: var(--lhs);
	letter-spacing: var(--lss);
}

.text-sm {
    font-size: .95rem;
    line-height: 1.2
}

.text-footer{
	font-size: var(--fss);
	line-height: 0.6;
	letter-spacing: var(--lss);
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.obj-center {
    align-items: center;
}

.text-right {
    text-align: right
}

.underlined{
    text-decoration: underline;
}

.blocked{
    font-size: var(--fss);
	line-height: var(--lhs);
	letter-spacing: var(--lss);
    color: rgb(255, 255, 255);
    pointer-events: none;
}

.text-big{
	font-size: var(--fsl);
	line-height: var(--lhl);
	letter-spacing: var(--lsl);
    margin-block-start: 0;
    font-weight: bolder;
}

.text-huge{
	font-size: 4rem;
	line-height: 2rem;
	letter-spacing: var(--lsl);
    margin-block-start: 0;
    margin-block-end: 0;
}


/*sizing*/

@media(min-width:640px) {
    .sm\:grid-cols-\[16ch_1fr\] {
        grid-template-columns: 16ch 1fr
    }
}

@media(min-width:768px) {
    .md\:fixed {
        position: fixed
    }

    .md\:left-0 {
        left: 0
    }

    .md\:col-span-1 {
        grid-column: span 1 / span 1
    }

    .md\:col-span-2 {
        grid-column: span 2 / span 2
    }

    .md\:col-span-6 {
        grid-column: span 6 / span 6
    }

    .md\:col-span-8 {
        grid-column: span 8 / span 8
    }

    .md\:col-span-10 {
        grid-column: span 10 / span 10
    }

    .md\:col-start-2 {
        grid-column-start: 2
    }

    .md\:col-start-4 {
        grid-column-start: 4
    }

    .md\:col-start-5 {
        grid-column-start: 5
    }

    .md\:col-end-9 {
        grid-column-end: 9
    }

    .md\:col-end-10 {
        grid-column-end: 10
    }

    .md\:col-end-12 {
        grid-column-end: 12
    }

    .md\:block {
        display: block
    }

    .md\:inline-block {
        display: inline-block
    }

    .md\:flex {
        display: flex
    }

    .md\:hidden {
        display: none
    }

    .md\:h-\[10vw\] {
        height: 10vw
    }

    .md\:h-\[5vw\] {
        height: 5vw
    }

    .md\:h-\[7vw\] {
        height: 7vw
    }

    .md\:h-\[95\%\] {
        height: 95%
    }

    .md\:h-\[60\%\] {
        height: 60%
    }

    .md\:w-32 {
        width: 8rem
    }

    .md\:w-72 {
        width: 18rem
    }

    .md\:w-\[10vw\] {
        width: 10vw
    }

    .md\:w-\[5vw\] {
        width: 5vw
    }

    .md\:w-\[70vw\] {
        width: 70vw
    }

    .md\:w-\[7vw\] {
        width: 7vw
    }

    .md\:w-\[80vw\] {
        width: 80vw
    }

    .md\:w-auto {
        width: auto
    }

    .md\:grid-cols-12 {
        grid-template-columns: repeat(12, minmax(0, 1fr))
    }

    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }

    .md\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr))
    }

    .md\:grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr))
    }

    .md\:grid-cols-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr))
    }

    .md\:flex-row {
        flex-direction: row
    }

    .md\:flex-col {
        flex-direction: column
    }

    .md\:space-x-0>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(0px * var(--tw-space-x-reverse));
        margin-left: calc(0px * calc(1 - var(--tw-space-x-reverse)))
    }

    .md\:space-y-0>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0px * var(--tw-space-y-reverse))
    }

    .md\:pr-0 {
        padding-right: 0
    }

    .md\:text-2xl {
        font-size: 1.3rem;
        line-height: 1.1
    }

    .md\:leading-none {
        line-height: 1
    }

    .md\:sda-programme-grid {
        display: grid;
        grid-template-columns: 12ch 12ch 1fr;
        gap: 1rem
    }

    .md\:sda-programme-grid u {
        color: #fff;
        text-decoration: none
    }

    .md\:sda-programme-grid a {
        --tw-text-opacity: 1;
        color: rgb(0 0 0 / var(--tw-text-opacity, 1))
    }

    .group:hover .md\:group-hover\:block {
        display: block
    }

    .group:hover .md\:group-hover\:hidden {
        display: none
    }
}

@media(min-width:1024px) {
    .mb {
        visibility: visible;
    }

    .lg\:fixed {
        position: fixed
    }

    .lg\:absolute {
        position: absolute
    }

    .lg\:bottom-auto {
        bottom: auto
    }

    .lg\:left-1\/2 {
        left: 50%
    }

    .lg\:left-\[52px\] {
        left: 52px
    }

    .lg\:right-0 {
        right: 0
    }

    .lg\:right-\[52px\] {
        right: 52px
    }

    .lg\:top-1\/2 {
        top: 50%
    }

    .lg\:top-\[2\.25vh\] {
        top: 2.25vh
    }

    .lg\:top-\[2\.5vh\] {
        top: 2.5vh
    }

    .lg\:top-\[52px\] {
        top: 52px
    }

    .lg\:order-none {
        order: 0
    }

    .lg\:col-span-1 {
        grid-column: span 1 / span 1
    }

    .lg\:col-span-2 {
        grid-column: span 2 / span 2
    }

    .lg\:col-span-3 {
        grid-column: span 3 / span 3
    }

    .lg\:col-span-4 {
        grid-column: span 4 / span 4
    }

    .lg\:col-span-5 {
        grid-column: span 5 / span 5
    }

    .lg\:lg\:col-span-2 {
        grid-column: span 2 / span 2
    }

    .lg\:col-start-2 {
        grid-column-start: 2
    }

    .lg\:col-end-4 {
        grid-column-end: 4
    }

    .lg\:block {
        display: block
    }

    .lg\:inline {
        display: inline
    }

    .lg\:flex {
        display: flex
    }

    .lg\:hidden {
        display: none
    }

    .lg\:h-0 {
        height: 0px
    }

    .lg\:h-20 {
        height: 5rem
    }

    .lg\:h-\[150vh\] {
        height: 150vh
    }

    .lg\:h-\[400vh\] {
        height: 400vh
    }

    .lg\:h-\[60vh\] {
        height: 60vh
    }

    .lg\:h-\[7vw\] {
        height: 7vw
    }

    .lg\:h-\[9rem\] {
        height: 9rem
    }

    .lg\:h-auto {
        height: auto
    }

    .lg\:h-screen {
        height: 100vh
    }

    .lg\:w-0 {
        width: 0px
    }

    .lg\:w-20 {
        width: 5rem
    }

    .lg\:w-52 {
        width: 13rem
    }

    .lg\:w-\[40vh\] {
        width: 40vh
    }

    .lg\:w-\[45vw\] {
        width: 45vw
    }

    .lg\:w-\[7vw\] {
        width: 7vw
    }

    .lg\:w-\[9rem\] {
        width: 9rem
    }

    .lg\:w-auto {
        width: auto
    }

    .lg\:-translate-x-1\/2 {
        --tw-translate-x: -50%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .lg\:-translate-y-1\/2 {
        --tw-translate-y: -50%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .lg\:-translate-y-\[49\%\] {
        --tw-translate-y: -49%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .lg\:rotate-90 {
        --tw-rotate: 90deg;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .lg\:snap-y {
        scroll-snap-type: y var(--tw-scroll-snap-strictness)
    }

    .lg\:snap-mandatory {
        --tw-scroll-snap-strictness: mandatory
    }

    .lg\:columns-2 {
        -moz-columns: 2;
        columns: 2
    }

    .lg\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }

    .lg\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr))
    }

    .lg\:grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr))
    }

    .lg\:grid-rows-1 {
        grid-template-rows: repeat(1, minmax(0, 1fr))
    }

    .lg\:justify-between {
        justify-content: space-between
    }

    .lg\:space-x-8>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(2rem * var(--tw-space-x-reverse));
        margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)))
    }

    .lg\:space-y-\[23\.5px\]>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(23.5px * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(23.5px * var(--tw-space-y-reverse))
    }

    .lg\:overflow-y-auto {
        overflow-y: auto
    }

    .lg\:p-0 {
        padding: 0
    }

    .lg\:px-0 {
        padding-left: 0;
        padding-right: 0
    }

    .lg\:px-52 {
        padding-left: 13rem;
        padding-right: 13rem
    }

    .lg\:py-\[52px\] {
        padding-top: 52px;
        padding-bottom: 52px
    }

    .lg\:py-\[calc\(50vh-6rem\)\] {
        padding-top: calc(50vh - 6rem);
        padding-bottom: calc(50vh - 6rem)
    }

    .lg\:pb-0 {
        padding-bottom: 0
    }

    .lg\:pl-0 {
        padding-left: 0
    }

    .lg\:pr-0 {
        padding-right: 0
    }

    .lg\:pt-\[25vh\] {
        padding-top: 25vh
    }

    .lg\:pt-\[3px\] {
        padding-top: 3px
    }

    .lg\:text-left {
        text-align: left
    }

    .lg\:text-right {
        text-align: right
    }

    .lg\:text-2xl {
        font-size: 1.3rem;
        line-height: 1.1
    }

    .lg\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem
    }

    .lg\:sda-info-grid {
        display: grid;
        grid-template-columns: 20ch 1fr;
        gap: 0 1rem
    }
}

@media(min-width:1200px) {
    .xl\:col-start-4 {
        grid-column-start: 4
    }

    .xl\:col-start-5 {
        grid-column-start: 5
    }

    .xl\:col-end-9 {
        grid-column-end: 9
    }

    .xl\:col-end-10 {
        grid-column-end: 10
    }

    .xl\:w-16 {
        width: 4rem
    }

    .xl\:grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr))
    }

    .xl\:grid-cols-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr))
    }
}