@font-face {
    font-family: grot;
    src: url(Fonts/akzidenz-grotesk-light.woff)
}

@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  body {
    width: 100vw;
    height: 100vh;
    position: fixed;
    margin: 0 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.Slideshow{
    height: 55vh;
    width: 90vw;
    margin: auto;
    margin-top: 0vh;
    padding: 0vh 0vw;
    justify-content: center;
    font-family: 'Lato', sans-serif;
  }

.Slideshow.active{
    z-index: -20;
  }

  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ol{
    list-style: none;
    margin: auto;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    margin-top: auto;
    padding-top: 65vh;
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    counter-increment: item;
  }
  
  .carousel__slide:nth-child(even) {
    background-color: rgb(255, 255, 255);
  }
  
  .carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: 0;
    cursor: url("cursor_prev.svg") 48 48, w-resize;
  }
  


  .carousel::after,
  .carousel__next {
    right: 0;
    cursor: url("cursor_next.svg") 48 48, w-resize;
  }

  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: transparent;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }

  

.container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

img{
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    height: 100%;
    width: auto;
    align-items: center;
    scroll-snap-align: center;
}



/* Header */
header{
    display: flex;
    z-index: 999;
    background-color: white;
    transition: 0.6s;
    height: 10%;
    align-items: center;
    justify-content: center;
}

header.active{
    transition: 0.6s;
    z-index: -10;
    filter: blur(2px);
    margin-bottom: 5vh;
}

h2{
    text-align: center;
    font-family: grot;
    font-weight: 200;
    font-size: 32px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 2.5%;
  }

h2:hover {
    cursor: url(point.svg) 16 16, pointer;
    font-family: grot;
    text-decoration: underline;
}

.name{ 
    margin-top: 3vh;
    margin-bottom: 0;
    text-align: center;
    transition: 0.6s;
}

.name.active{ 
    margin-top: 0;
    margin-bottom: 40vh;
    transition: 0.6s;
    z-index: 1000;
}

/* - - - - -*/

/* Contact */
.contact{
    background-color: white;
    height: 0vh;
    z-index: 999;
    transition: 0.6s;
}

.contact.active{
    background-color: white;
    height: 90vh;
    transition: 0.6s;
}

.contact-close{
    margin-top: 7.5vh;
}

.contact-drop{
    width: 100%;
    height: 80%;
    padding: 10% 0;
    position: fixed;
    top: -100%;
    transition: 0.6s;
}


.contact-drop.active{
    display: flex;
    flex-direction: column;
    transition: 0.6s;
    top: 0;
    padding-top: 0%;
}

.contact-link{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    text-indent: 0px;
    align-items: center;
    padding: 0 10%;
    margin-top: 8px;
    background-color: transparent;
    z-index: 1000;
}


.contact-left{
    z-index: 1000;
    background-color: white;
    text-align: left;
}

.contact-right{
    z-index: 1000;
    background-color: white;
    text-align: right;
}

.contact-right:hover{
    cursor: url(point.svg) 16 16, pointer;
}


/* - - - - -*/

a{
    text-decoration: none;
    color: #000000;
    text-align: center;
    text-align: center;
    font-family: grot;
    font-weight: 200;
    font-size: 12px;
  }

  .line{
    display: block;
    height: 1px;
    width: 80vw;
    margin: 0 10vw;
    align-items: center;
    z-index: 1000;
    background-color: #000000;
}

.line:hover{
    cursor: none;
}

@media (min-width:1024px) { /* big landscape tablets, laptops, and desktops */ 

    .contact-link{
        display: flex;
        text-decoration: none;
        justify-content: space-between;
        text-indent: 0px;
        align-items: center;
        padding: 0 30%;
        margin-top: 8px;
        background-color: transparent;
        z-index: 1000;

    }

    .contact-left{
        z-index: 1000;
        background-color: white;
        text-align: left;
    }
    
    .contact-right{
        z-index: 1000;
        background-color: white;
        text-align: right;
    }
    
    .contact-right:hover{
        cursor: url(point.svg) 16 16, pointer;
    }
    
    .line{
        display: block;
        height: 1px;
        width: 40vw;
        margin: 0 30vw;
        align-items: center;
        z-index: 1000;
        background-color: #000000;
    }
}



@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    /* Header */
header{
    display: flex;
    z-index: 999;
    background-color: white;
    transition: 0.6s;
    height: 10%;
    align-items: center;
    justify-content: center;
}

header.active{
    transition: 0.6s;
    z-index: -10;
    filter: blur(2px);
}

    .Slideshow{
        width: 35vw;
        height: 85vh;
        margin: auto;
        margin-top: 0vh;
        padding: 0vh 0vw;
        justify-content: center;
        font-family: 'Lato', sans-serif;
      }
    
    .Slideshow.active{
        z-index: -20;
      }
    
      
      * {
        box-sizing: border-box;
        scrollbar-color: transparent transparent; /* thumb and track color */
        scrollbar-width: 0px;
      }
      
      *::-webkit-scrollbar {
        width: 0;
      }
      
      *::-webkit-scrollbar-track {
        background: transparent;
      }
      
      *::-webkit-scrollbar-thumb {
        background: transparent;
        border: none;
      }
      
      * {
        -ms-overflow-style: none;
      }
      
      li {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    
      ol{
        list-style: none;
        margin: auto;
        padding: 0;
      }
      
      .carousel {
        position: relative;
        margin-top: auto;
        padding-top: 85vh;
        perspective: 100px;
      }
      
      .carousel__viewport {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        overflow-x: scroll;
        counter-reset: item;
        overflow-y: hidden;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
      }
      
      .carousel__slide {
        position: relative;
        flex: 0 0 100%;
        width: 100%;
        background-color: rgb(255, 255, 255);
        counter-increment: item;
      }
      
      .carousel__slide:nth-child(even) {
        background-color: rgb(255, 255, 255);
      }
      
      .carousel__slide:before {
        content: counter(item);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-40%,70px);
        color: #fff;
        font-size: 2em;
      }
      
      .carousel__snapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        scroll-snap-align: center;
      }
      
      @media (hover: hover) {
        .carousel__snapper {
          animation-name: tonext, snap;
          animation-timing-function: ease;
          animation-duration: 4s;
          animation-iteration-count: infinite;
        }
      
        .carousel__slide:last-child .carousel__snapper {
          animation-name: tostart, snap;
        }
      }
      
      @media (prefers-reduced-motion: reduce) {
        .carousel__snapper {
          animation-name: none;
        }
      }
      
      .carousel:hover .carousel__snapper,
      .carousel:focus-within .carousel__snapper {
        animation-name: none;
      }
      
      .carousel__navigation {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
      }
      
      .carousel__navigation-list,
      .carousel__navigation-item {
        display: inline-block;
      }
      
      .carousel__navigation-button {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-color: #000000;
        background-clip: content-box;
        border: 0.25rem solid transparent;
        border-radius: 50%;
        font-size: 0;
        transition: transform 0.1s;
      }
      
      .carousel::before,
      .carousel::after,
      .carousel__prev,
      .carousel__next {
        position: absolute;
        top: 0;
        margin-top: 37.5%;
        width: 50%;
        height: 100%;
        transform: translateY(-50%);
        font-size: 0;
        outline: 0;
      }
      
      .carousel::before,
      .carousel__prev {
        left: 0;
        cursor: url("cursor_prev.svg") 48 48, w-resize;
      }
      
    
    
      .carousel::after,
      .carousel__next {
        right: 0;
        cursor: url("cursor_next.svg") 48 48, w-resize;
      }
    
      .carousel::before,
      .carousel::after {
        content: '';
        z-index: 1;
        background-color: transparent;
        background-size: 1.5rem 1.5rem;
        background-repeat: no-repeat;
        background-position: center center;
        color: #fff;
        font-size: 2.5rem;
        line-height: 4rem;
        text-align: center;
        pointer-events: none;
      }
    
      
    
    .container{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        scroll-snap-align: center;
    }
    
    img{
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
        height: 100%;
        width: auto;
        align-items: center;
        scroll-snap-align: center;
    }
    

    h2{
        text-align: center;
        font-family: grot;
        font-weight: 400;
        font-size: 40px;
        color: #000000;
      }

    a{
        text-decoration: none;
        color: #000000;
        text-align: center;
        font-family: grot;
        font-weight: 200;
        font-size: 20px;
    
    }

    .name{ 
        margin-top: 3vh;
        margin-bottom: 0;
        text-align: center;
        transition: 0.6s;
    }
    
    .name.active{ 
        margin-bottom: 0;
        transition: 0.6s;
    }
}

