@font-face {
    font-family: type;
    src: url(Fonts/BPmono.woff)
}

@font-face {
    font-family: "GT Planar Trial Rg";
    src: url("https://db.onlinewebfonts.com/t/0a12755836cf12bb56e244daf6428849.eot");
    src: url("https://db.onlinewebfonts.com/t/0a12755836cf12bb56e244daf6428849.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/0a12755836cf12bb56e244daf6428849.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/0a12755836cf12bb56e244daf6428849.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/0a12755836cf12bb56e244daf6428849.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/0a12755836cf12bb56e244daf6428849.svg#GT Planar Trial Rg")format("svg");
}

@import url(https://db.onlinewebfonts.com/c/6601fbe65008cbf2efe6b69f04759256?family=GT+Haptik+Bold+Regular);


.haptik {
    font-family: "GT Planar Trial Rg";
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    background: white;
    font-family: "GT Planar Trial Rg";
    line-height: 1;
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(16px, 1.725vh, 32px);
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(255, 255, 255);
}

div {
    display: block;
}

.nav-container {
    position: fixed;
    overflow-y: hidden;
    top: 0px;
    left: 0px;
    padding: 2.75vh 0 2.75vh 3vh;
    z-index: 200;
    display: block;
    font-size: clamp(32px, 3.45vh, 64px);
    background-color: rgba(0, 0, 0, 0);
}

.page-container {
    position: relative;
    box-sizing: border-box;
    display: block;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    z-index: 20;
    padding-top: 2.75vh;
    padding-right: 0px;
    padding-bottom: 2.75vh;
    padding-left: 0px;
}

.name {
    line-height: 1;
    margin-bottom: 1.75vh;

}

a {
    display: block;
    font-family: "GT Planar Trial Rg";
    font-size: 32px;
    font-weight: 500;
    margin: 0 0;
    text-decoration: none;
    color: #000000;
    cursor: url(point.svg) 16 16, pointer;
}

.right{
    margin-right: 0;
    margin-left: auto;
}

.left{
    margin-left: 0;
    margin-right: auto;
}



p {
    display: block;
    font-family: "GT Planar Trial Rg";
    font-size: 32px;
    font-weight: 500;
    margin: 0 0;
    margin-block-start: 0px;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-decoration: none;
    color: #000000;
}

.dropdown {
    cursor: url(point.svg) 16 16, pointer;
    margin-block-end: 0.5em;
}

.menu-container {
    display: flex;
    flex-direction: column;
    height: 0vh;
    transition: 0.5s;
}

.menu-container.active {
    height: 30vh;
    transition: 0.5s;
}

ul {
    display: block;
    padding: 0;
    margin: 0;
    margin-block-end: 1em;
    list-style: none;
    overflow: hidden;
    transition: ease-in-out;
}

li {
    list-style-image: url(pointoutline.svg);
}

.links {
    list-style-image: url(pointoutline.svg);
}

.projects {
    display: list-item;
    vertical-align: middle;
    list-style: none;
}

a.links::before {
    content: url(pointoutline.svg);
    height: 28px;
    width: 28px;
    margin-right: 0;
    vertical-align: middle;
  }

.submenu {
    font-family: "GT Planar Trial Rg";
    font-size: 32px;
    font-weight: 500;
    margin: 0 0;
    margin-block-end: 1em;
    text-decoration: none;
    color: #000000;
}

.content {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    height: calc(var(--vh, 1vh) * 100);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 0;
}

.content-container {
    width: 62.07vh;
    max-width: 90vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wp-content-container {
    position: relative;
}

.section {
    padding-top: 2.75vh;
    margin-bottom: 6.89vh;
}

.section-title {
    font-size: 500%;
    position: relative;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.wp-block-image {
    margin: 0;
}

.image {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 6rem;
    overflow: clip;
}

.image img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: clip;
}


#contact {
    position: absolute;
    font-family: "GT Planar Trial Rg";
    font-size: 32px;
    font-weight: 500;
    bottom: 0;
    width: 100%;
    padding: 2.75vh 3vh;
    z-index: 10;
}

#contact,
footer {
    font-size: clamp(32px, 3.45vh, 64px);
}

footer {
    display: block;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 2.75vh;
    padding-left: 6vh;
    width: 100%;
    z-index: 1;
}

#instagram,
#tel,
#mail {
    margin-bottom: 0em;
}




@media screen and (max-width: 599px) {
    .nav-container {
        position: fixed;
        background: initial;
        padding: 10vw 5vw 5vw 5vw;
        font-size: 24px;
        width: 100%;
        height: initial;
        max-height: 100%;
    }

    .content-margin-top {
        display: none;
    }

    .content {
        display: none;
    }

    .dropdown {
        cursor: url(point.svg) 16 16, pointer;
        margin-block-end: 0.2em;
    }

    .menu-container.active {
        height: 30vh;
        transition: 0.5s;
    }

    #contact {
        padding: 0 0 4.75vw 5vw;
    }

    .image img {
        width: 250%;
    }

    footer {
        padding: 0 0 4.75vw 10vw;
    }

}



