@font-face {
    font-family: Boogie;
    src: url(Fonts/BoogieSchoolSans-Middle3rd.woff)
}

@font-face {
    font-family: Tag;
    src: url(Fonts/DeFontePlus-Normale.woff)
}

@font-face {
    font-family: Print;
    src: url(Fonts/DeFontePlus-Leger.woff)
}

@font-face {
    font-family: grot;
    src: url(Fonts/akzidenz-grotesk-light.woff)
}

@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');




body{
    min-height: 100%;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0 0;
    background-color: white;
    position: fixed;
}


/* Text */
.name{ 
    margin-top: 40px;
    text-align: center;
}

.name.active{ 
    z-index: -5;
}

.projects{
    margin-bottom: 40px; 
    text-align: center;
 }

h2{
    text-align: center;
    font-family: grot;
    font-weight: 400;
    font-size: 25px;
    color: #000000;
    margin-top: 0%;
    margin-bottom: 2.5%;
  }

  h3{
    text-align: center;
    font-family: grot;
    font-weight: 200;
    font-size: 18px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 1px;
  }

h2:hover {
    cursor: url(point.svg) 16 16, pointer;
    font-family: grot;
    text-decoration: underline;
}

h4 {
    cursor: url(point.svg) 16 16, pointer;
    font-family: grot;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 0;
}

h4:hover {
    cursor: url(point.svg) 16 16, pointer;
    font-family: grot;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: #000000;
    text-align: center;
    text-align: center;
    font-family: grot;
    font-weight: 200;
    font-size: 12px;
  }


/* - - - - - - */


/* Header&Footer */
header{
    display: flex;
    z-index: 1;
    background-color: white;
    transition: 0.8s;
    height: 10%;
    align-items: center;
    justify-content: center;
}

header.active{
    transition: 0.8s;
    z-index: -10;
    filter: blur(2px);
}

.headerblock{
    position: fixed;
    top: 40px;
    background-color: transparent;
    z-index: -100;
    height: 0%;
    width: 0vw;
}

.headerblock.active{
    width: 100vw;
    height: 7.5%; 
    z-index: 100;  
}

footer{
    display: flex;
    margin-top: auto;
    z-index: 800;
    background-color: white;
    height: 10%;
    align-items: center;
    justify-content: center;
}

footer.active{
    z-index: -10;
    filter: blur(2px);
}


.footerblock{
    position: fixed;
    bottom: 40px;
    background-color: transparent;
    z-index: -100;
    height: 0%;
    width: 0vw;
}

.footerblock.active{
    width: 100vw;
    height: 7.5%;
    z-index: 801;  
}

/* - - - - - - */

/* Contact */
.contact{
    background-color: white;
    height: 0vh;
    z-index: 999;
    transition: 0.8s;
}

.contact.active{
    background-color: white;
    height: 75vh;
    transition: 0.8s;
}

.contact-close{
    margin-top: 40px;
}

.contact-drop{
    width: 100%;
    height: 80%;
    padding: 10% 0;
    position: fixed;
    top: -100%;
    transition: 0.8s;
}

.contact-drop.active{
    display: flex;
    flex-direction: column;
    transition: 0.8s;
    top: 0;
    justify-content: space-between;
    padding-top: 0%;
}

.contact-link{
    text-decoration: none;
    justify-content: center;
    text-align: center;
}

    
.triangle1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 0;
    height: 0;
    border-right: 180px solid #9d0e1c;
    border-bottom: 50px solid transparent;
    z-index: -999;
    border-radius: 0;
}

.triangle2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 0;
    height: 0;
    border-left: 120px solid #9d0e1c;
    border-bottom: 120px solid transparent;
    z-index: -999;
    border-radius: 0;
}

.triangle3 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 0;
    height: 0;
    border-right: 70px solid #9d0e1c;
    border-bottom: 90px solid transparent;
    z-index: -999;
    border-radius: 0;
} 

/* - - - - - - */

/* Projects */
.menu{
    background-color: white;
    height: 0vh;
    z-index: 999;
    transition: 0.8s;
}

.menu.active{
    background-color: white;
    height: 85vh;
    transition: 0.8s;
}

.menu-drop{
    width: 100%;
    height: 85%;
    position: fixed;
    bottom: -100%;
    transition: 0.8s;
}

.menu-drop.active{
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 0.8s;
    bottom: 0;
}

.menu-link{
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    text-indent: 0px;
    align-items: center;
    padding: 0 10%;
    margin-top: 8px;
    background-color: transparent;
    z-index: 1000;
}

.menu-link:hover{
    text-indent: 15px;

}

.dot{
    display: flex;
    position: fixed;
    left: 10vw;
    align-items: center;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    background-color: #000000;
}


.line{
    display: block;
    height: 1px;
    width: 80vw;
    margin: 0 10vw;
    align-items: center;
    z-index: 1000;
    background-color: #000000;
}

.line:hover{
    cursor: none;
}


.menu-info{
    z-index: 1000;
    background-color: white;
}

.menu-info:hover{
    background-color: transparent;
    cursor: none;
}

.contact-info:hover{
    cursor: url(point.svg) 16 16, pointer;
}


/* - - - - - - */


* {
    box-sizing: border-box
}



 

.center-container{
    margin: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -2;
  }

.center-container.active{
    opacity: 0;
    transition: 1s;
}




.image-slideshow {
  max-width: 80%;
  display: flex;
  position: relative;
  margin: auto;
  padding: 20% 0%;

}

img {
  width: 100%
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}


@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    h2{
        text-align: center;
        font-family: grot;
        font-weight: 400;
        font-size: 40px;
        color: #000000;
      }

    a{
        text-decoration: none;
        color: #000000;
        text-align: center;
        font-family: grot;
        font-weight: 200;
        font-size: 20px;
    
    }
    

    * {
        box-sizing: border-box
    }
    
    .center-container{
        margin: 0% 10%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    
    .image-slideshow {
      max-width: 35%;
      display: block;
      position: relative;
      margin: auto;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    
    img {
      width: 100%
    }
    
    .fade {
      animation-name: fade;
      animation-duration: 2s;
    }
    
    @keyframes fade {
      from {opacity: 0.4}
      to {opacity: 1}
    }
    
  }

  @media (min-width:1024px) { /* big landscape tablets, laptops, and desktops */ 

    .contact-link{
        text-decoration: none;
        justify-content: center;
        text-align: center;
        margin-left: 20vw;
        margin-right: 20vw;

    }
    
    
    .triangle1 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        top: 0;
        width: 0;
        height: 0;
        border-right: 180px solid #9d0e1c;
        border-bottom: 50px solid transparent;
        z-index: -999;
        border-radius: 0;
    }

    .triangle2 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        top: 0;
        width: 0;
        height: 0;
        border-left: 120px solid #9d0e1c;
        border-bottom: 120px solid transparent;
        z-index: -999;
        border-radius: 0;
    }

    .triangle3 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        top: 0;
        width: 0;
        height: 0;
        border-right: 70px solid #9d0e1c;
        border-bottom: 90px solid transparent;
        z-index: -999;
        border-radius: 0;
    } 
   
}


