html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, noscript {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

main, header, footer, nav, aside, section,
blockquote, article,
video, canvas, object, iframe, embed,
textarea,
figure, figcaption, hgroup, details,
figure img {
  display: block;
}

a,
img,
input,
button,
label {
  display: inline-block;
}

[title] {
  text-decoration: inherit;
}

p a {
  display: inline;
}

ul, ol {
  width: 100%;
}

ul, ol, li {
  list-style: none;
}

hr {
  border: none;
}

html {
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

a, button, [type=button], [type=submit] {
  cursor: pointer;
}

button, [type=submit] {
  all: unset;
}

input,
textarea,
button,
label {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  border-radius: 0;
  background-color: transparent;
  border: none;
  outline: none;
  vertical-align: baseline;
  line-height: inherit;
  text-align: inherit;
}

select {
  color: inherit;
  border-radius: 0;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: inherit;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

legend {
  white-space: normal;
}

embed,
iframe,
object,
canvas,
video {
  max-width: 100%;
  outline: none;
  zoom: 1;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

[hidden] {
  display: none !important;
}

[disabled] {
  cursor: default;
}

:focus {
  outline: 0;
}

/*
devices
*/
/*
sizes
*/
/* fonts */
/*
typography
*/
/* effects */
/*
ui elements
*/
/*
debug
*/
/*
debug
*/
.debug {
  background-color: rgba(0, 119, 255, 0.2);
}
.debug > * {
  background-color: rgba(68, 0, 255, 0.2);
}
.debug > * > * {
  background-color: rgba(212, 0, 255, 0.2);
}
.debug > * > * > * {
  background-color: rgba(255, 0, 140, 0.2);
}

#debug-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
  background-color: transparent !important;
}
#debug-grid > div {
  background-color: transparent !important;
  height: 100%;
}
#debug-grid > div + div {
  border-left: 1px solid rgba(0, 0, 0, 0.03);
}
#debug-grid.hidden {
  display: none;
}

@font-face {
  font-family: "Diatype";
  src: url("/assets/fonts/EduDiatype-Regular.woff2") format("woff2"), url("/assets/fonts/EduDiatype-Regular.woff") format("woff");
}
@font-face {
  font-family: "Diatype";
  src: url("/assets/fonts/EduDiatype-Bold.woff2") format("woff2"), url("/assets/fonts/EduDiatype-Bold.woff") format("woff");
  font-weight: bold;
}
:root {
  --100vh: 100vh;
  --background: #fff;
  --color: #000;
  --highlight: #3448ff;
  --padding: 1rem;
  --archiveControlBarHeight: 3rem;
  --100vhWithoutNavBar: calc( 100vh - 3rem );
}

html {
  font-size: 10px;
}

body {
  background-color: var(--background);
  color: var(--color);
  font-family: "Diatype";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

::-moz-selection {
  background-color: var(--highlight);
  color: var(--background);
}

::selection {
  background-color: var(--highlight);
  color: var(--background);
}

img {
  display: block;
  width: 100%;
}

.tnum {
  font-feature-settings: "tnum";
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  box-sizing: border-box;
  justify-items: stretch;
  align-items: stretch;
}
.grid [class*=col] {
  box-sizing: border-box;
  grid-column-end: span 1;
}
.grid [class*=col].gap:not(.grid) {
  padding: 0 1rem;
}
.grid.gap {
  padding: 1rem 0;
  gap: 1rem 0;
}
.grid.gap [class*=col]:not(.grid.gap) {
  padding: 0 1rem;
}
.grid-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.grid-11 {
  grid-template-columns: repeat(11, minmax(0, 1fr));
}
.grid-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}
.grid-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}
.grid-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}
.grid-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.grid-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.grid-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid .col-12 {
  grid-column-end: span 12;
}
.grid .col-11 {
  grid-column-end: span 11;
}
.grid .col-10 {
  grid-column-end: span 10;
}
.grid .col-9 {
  grid-column-end: span 9;
}
.grid .col-8 {
  grid-column-end: span 8;
}
.grid .col-7 {
  grid-column-end: span 7;
}
.grid .col-6 {
  grid-column-end: span 6;
}
.grid .col-5 {
  grid-column-end: span 5;
}
.grid .col-4 {
  grid-column-end: span 4;
}
.grid .col-3 {
  grid-column-end: span 3;
}
.grid .col-2 {
  grid-column-end: span 2;
}
.grid .col-1 {
  grid-column-end: span 1;
}
.grid .order-12 {
  order: 12;
}
.grid .order-11 {
  order: 11;
}
.grid .order-10 {
  order: 10;
}
.grid .order-9 {
  order: 9;
}
.grid .order-8 {
  order: 8;
}
.grid .order-7 {
  order: 7;
}
.grid .order-6 {
  order: 6;
}
.grid .order-5 {
  order: 5;
}
.grid .order-4 {
  order: 4;
}
.grid .order-3 {
  order: 3;
}
.grid .order-2 {
  order: 2;
}
.grid .order-1 {
  order: 1;
}
.grid .start-12 {
  grid-column-start: 12;
}
.grid .start-11 {
  grid-column-start: 11;
}
.grid .start-10 {
  grid-column-start: 10;
}
.grid .start-9 {
  grid-column-start: 9;
}
.grid .start-8 {
  grid-column-start: 8;
}
.grid .start-7 {
  grid-column-start: 7;
}
.grid .start-6 {
  grid-column-start: 6;
}
.grid .start-5 {
  grid-column-start: 5;
}
.grid .start-4 {
  grid-column-start: 4;
}
.grid .start-3 {
  grid-column-start: 3;
}
.grid .start-2 {
  grid-column-start: 2;
}
.grid .start-1 {
  grid-column-start: 1;
}
@media print, (min-width: 620px) {
  .grid-m-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .grid-m-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }
  .grid-m-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
  .grid-m-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
  .grid-m-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  .grid-m-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  .grid-m-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .grid-m-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .grid-m-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .grid-m-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .grid-m-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .grid-m-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .grid .col-m-12 {
    grid-column-end: span 12;
  }
  .grid .col-m-11 {
    grid-column-end: span 11;
  }
  .grid .col-m-10 {
    grid-column-end: span 10;
  }
  .grid .col-m-9 {
    grid-column-end: span 9;
  }
  .grid .col-m-8 {
    grid-column-end: span 8;
  }
  .grid .col-m-7 {
    grid-column-end: span 7;
  }
  .grid .col-m-6 {
    grid-column-end: span 6;
  }
  .grid .col-m-5 {
    grid-column-end: span 5;
  }
  .grid .col-m-4 {
    grid-column-end: span 4;
  }
  .grid .col-m-3 {
    grid-column-end: span 3;
  }
  .grid .col-m-2 {
    grid-column-end: span 2;
  }
  .grid .col-m-1 {
    grid-column-end: span 1;
  }
  .grid .order-m-12 {
    order: 12;
  }
  .grid .order-m-11 {
    order: 11;
  }
  .grid .order-m-10 {
    order: 10;
  }
  .grid .order-m-9 {
    order: 9;
  }
  .grid .order-m-8 {
    order: 8;
  }
  .grid .order-m-7 {
    order: 7;
  }
  .grid .order-m-6 {
    order: 6;
  }
  .grid .order-m-5 {
    order: 5;
  }
  .grid .order-m-4 {
    order: 4;
  }
  .grid .order-m-3 {
    order: 3;
  }
  .grid .order-m-2 {
    order: 2;
  }
  .grid .order-m-1 {
    order: 1;
  }
  .grid .start-m-12 {
    grid-column-start: 12;
  }
  .grid .start-m-11 {
    grid-column-start: 11;
  }
  .grid .start-m-10 {
    grid-column-start: 10;
  }
  .grid .start-m-9 {
    grid-column-start: 9;
  }
  .grid .start-m-8 {
    grid-column-start: 8;
  }
  .grid .start-m-7 {
    grid-column-start: 7;
  }
  .grid .start-m-6 {
    grid-column-start: 6;
  }
  .grid .start-m-5 {
    grid-column-start: 5;
  }
  .grid .start-m-4 {
    grid-column-start: 4;
  }
  .grid .start-m-3 {
    grid-column-start: 3;
  }
  .grid .start-m-2 {
    grid-column-start: 2;
  }
  .grid .start-m-1 {
    grid-column-start: 1;
  }
}
@media screen and (min-width: 960px) {
  .grid-l-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .grid-l-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }
  .grid-l-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
  .grid-l-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
  .grid-l-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  .grid-l-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  .grid-l-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .grid-l-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .grid-l-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .grid-l-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .grid-l-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .grid-l-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .grid .col-l-12 {
    grid-column-end: span 12;
  }
  .grid .col-l-11 {
    grid-column-end: span 11;
  }
  .grid .col-l-10 {
    grid-column-end: span 10;
  }
  .grid .col-l-9 {
    grid-column-end: span 9;
  }
  .grid .col-l-8 {
    grid-column-end: span 8;
  }
  .grid .col-l-7 {
    grid-column-end: span 7;
  }
  .grid .col-l-6 {
    grid-column-end: span 6;
  }
  .grid .col-l-5 {
    grid-column-end: span 5;
  }
  .grid .col-l-4 {
    grid-column-end: span 4;
  }
  .grid .col-l-3 {
    grid-column-end: span 3;
  }
  .grid .col-l-2 {
    grid-column-end: span 2;
  }
  .grid .col-l-1 {
    grid-column-end: span 1;
  }
  .grid .order-l-12 {
    order: 12;
  }
  .grid .order-l-11 {
    order: 11;
  }
  .grid .order-l-10 {
    order: 10;
  }
  .grid .order-l-9 {
    order: 9;
  }
  .grid .order-l-8 {
    order: 8;
  }
  .grid .order-l-7 {
    order: 7;
  }
  .grid .order-l-6 {
    order: 6;
  }
  .grid .order-l-5 {
    order: 5;
  }
  .grid .order-l-4 {
    order: 4;
  }
  .grid .order-l-3 {
    order: 3;
  }
  .grid .order-l-2 {
    order: 2;
  }
  .grid .order-l-1 {
    order: 1;
  }
  .grid .start-l-12 {
    grid-column-start: 12;
  }
  .grid .start-l-11 {
    grid-column-start: 11;
  }
  .grid .start-l-10 {
    grid-column-start: 10;
  }
  .grid .start-l-9 {
    grid-column-start: 9;
  }
  .grid .start-l-8 {
    grid-column-start: 8;
  }
  .grid .start-l-7 {
    grid-column-start: 7;
  }
  .grid .start-l-6 {
    grid-column-start: 6;
  }
  .grid .start-l-5 {
    grid-column-start: 5;
  }
  .grid .start-l-4 {
    grid-column-start: 4;
  }
  .grid .start-l-3 {
    grid-column-start: 3;
  }
  .grid .start-l-2 {
    grid-column-start: 2;
  }
  .grid .start-l-1 {
    grid-column-start: 1;
  }
}
@media screen and (min-width: 1400px) {
  .grid-xl-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .grid-xl-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }
  .grid-xl-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
  .grid-xl-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
  .grid-xl-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  .grid-xl-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  .grid-xl-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .grid-xl-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .grid-xl-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .grid-xl-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .grid-xl-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .grid-xl-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .grid .col-xl-12 {
    grid-column-end: span 12;
  }
  .grid .col-xl-11 {
    grid-column-end: span 11;
  }
  .grid .col-xl-10 {
    grid-column-end: span 10;
  }
  .grid .col-xl-9 {
    grid-column-end: span 9;
  }
  .grid .col-xl-8 {
    grid-column-end: span 8;
  }
  .grid .col-xl-7 {
    grid-column-end: span 7;
  }
  .grid .col-xl-6 {
    grid-column-end: span 6;
  }
  .grid .col-xl-5 {
    grid-column-end: span 5;
  }
  .grid .col-xl-4 {
    grid-column-end: span 4;
  }
  .grid .col-xl-3 {
    grid-column-end: span 3;
  }
  .grid .col-xl-2 {
    grid-column-end: span 2;
  }
  .grid .col-xl-1 {
    grid-column-end: span 1;
  }
  .grid .order-xl-12 {
    order: 12;
  }
  .grid .order-xl-11 {
    order: 11;
  }
  .grid .order-xl-10 {
    order: 10;
  }
  .grid .order-xl-9 {
    order: 9;
  }
  .grid .order-xl-8 {
    order: 8;
  }
  .grid .order-xl-7 {
    order: 7;
  }
  .grid .order-xl-6 {
    order: 6;
  }
  .grid .order-xl-5 {
    order: 5;
  }
  .grid .order-xl-4 {
    order: 4;
  }
  .grid .order-xl-3 {
    order: 3;
  }
  .grid .order-xl-2 {
    order: 2;
  }
  .grid .order-xl-1 {
    order: 1;
  }
  .grid .start-xl-12 {
    grid-column-start: 12;
  }
  .grid .start-xl-11 {
    grid-column-start: 11;
  }
  .grid .start-xl-10 {
    grid-column-start: 10;
  }
  .grid .start-xl-9 {
    grid-column-start: 9;
  }
  .grid .start-xl-8 {
    grid-column-start: 8;
  }
  .grid .start-xl-7 {
    grid-column-start: 7;
  }
  .grid .start-xl-6 {
    grid-column-start: 6;
  }
  .grid .start-xl-5 {
    grid-column-start: 5;
  }
  .grid .start-xl-4 {
    grid-column-start: 4;
  }
  .grid .start-xl-3 {
    grid-column-start: 3;
  }
  .grid .start-xl-2 {
    grid-column-start: 2;
  }
  .grid .start-xl-1 {
    grid-column-start: 1;
  }
}
@media screen and (min-width: 2400px) {
  .grid-xxl-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .grid-xxl-11 {
    grid-template-columns: repeat(11, minmax(0, 1fr));
  }
  .grid-xxl-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
  .grid-xxl-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
  .grid-xxl-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
  .grid-xxl-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  .grid-xxl-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
  .grid-xxl-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .grid-xxl-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .grid-xxl-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .grid-xxl-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .grid-xxl-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .grid .col-xxl-12 {
    grid-column-end: span 12;
  }
  .grid .col-xxl-11 {
    grid-column-end: span 11;
  }
  .grid .col-xxl-10 {
    grid-column-end: span 10;
  }
  .grid .col-xxl-9 {
    grid-column-end: span 9;
  }
  .grid .col-xxl-8 {
    grid-column-end: span 8;
  }
  .grid .col-xxl-7 {
    grid-column-end: span 7;
  }
  .grid .col-xxl-6 {
    grid-column-end: span 6;
  }
  .grid .col-xxl-5 {
    grid-column-end: span 5;
  }
  .grid .col-xxl-4 {
    grid-column-end: span 4;
  }
  .grid .col-xxl-3 {
    grid-column-end: span 3;
  }
  .grid .col-xxl-2 {
    grid-column-end: span 2;
  }
  .grid .col-xxl-1 {
    grid-column-end: span 1;
  }
  .grid .order-xxl-12 {
    order: 12;
  }
  .grid .order-xxl-11 {
    order: 11;
  }
  .grid .order-xxl-10 {
    order: 10;
  }
  .grid .order-xxl-9 {
    order: 9;
  }
  .grid .order-xxl-8 {
    order: 8;
  }
  .grid .order-xxl-7 {
    order: 7;
  }
  .grid .order-xxl-6 {
    order: 6;
  }
  .grid .order-xxl-5 {
    order: 5;
  }
  .grid .order-xxl-4 {
    order: 4;
  }
  .grid .order-xxl-3 {
    order: 3;
  }
  .grid .order-xxl-2 {
    order: 2;
  }
  .grid .order-xxl-1 {
    order: 1;
  }
  .grid .start-xxl-12 {
    grid-column-start: 12;
  }
  .grid .start-xxl-11 {
    grid-column-start: 11;
  }
  .grid .start-xxl-10 {
    grid-column-start: 10;
  }
  .grid .start-xxl-9 {
    grid-column-start: 9;
  }
  .grid .start-xxl-8 {
    grid-column-start: 8;
  }
  .grid .start-xxl-7 {
    grid-column-start: 7;
  }
  .grid .start-xxl-6 {
    grid-column-start: 6;
  }
  .grid .start-xxl-5 {
    grid-column-start: 5;
  }
  .grid .start-xxl-4 {
    grid-column-start: 4;
  }
  .grid .start-xxl-3 {
    grid-column-start: 3;
  }
  .grid .start-xxl-2 {
    grid-column-start: 2;
  }
  .grid .start-xxl-1 {
    grid-column-start: 1;
  }
}

.background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

figure.background {
  z-index: -2;
}
figure.background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
figure.background.fit img {
  -o-object-fit: contain;
     object-fit: contain;
}

.main-grid[data-template=home] {
  height: var(--100vh);
  align-content: space-between;
  z-index: 2;
}
.main-grid[data-template=home] .align-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main-grid[data-template=home] a.logo, .main-grid[data-template=home] a.menu-item {
  z-index: 1;
}

@media screen and (max-width: 619px) {
  .login form {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem;
  }
}
.login input, .login label {
  outline: none;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
}
.login input.password {
  width: 0;
  opacity: 0;
}
.login .cursor {
  width: 0;
  height: 1em;
  display: inline-block;
  border-right: 2px solid currentColor;
  animation: blinking 1500ms infinite;
  animation-timing-function: linear;
  transform: translate(-0.1em, 0.1em);
}

@keyframes blinking {
  0%, 45%, 100% {
    opacity: 0;
  }
  55%, 95% {
    opacity: 1;
  }
}
.bubbles {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bubbles h2 {
  font-size: 100px;
}

p a, p u, .writer h2 a, .writer h2 u, .writer h3 a, .writer h3 u {
  -webkit-text-decoration-color: currentColor;
  -webkit-text-decoration-thickness: 1px;
  -webkit-text-decoration-style: solid;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  text-decoration-color: currentColor;
  text-decoration-thickness: 1px;
  text-decoration-style: solid;
  text-underline-offset: 0.2em;
}
p a, .writer h2 a, .writer h3 a {
  transition: opacity 200ms ease;
}
p a:hover, .writer h2 a:hover, .writer h3 a:hover {
  opacity: 0.2;
}

.page-default {
  display: contents;
}
.page-default main {
  align-self: end;
}
.page-default .block + .block {
  margin-top: 2rem;
}
.page-default .writer {
  padding: 1rem;
}
.page-default .writer h1, .page-default .writer h2, .page-default .writer h3, .page-default .writer h4 {
  margin-bottom: 0.5em;
  font-size: 13px;
  line-height: 16px;
}
.page-default .writer h1, .page-default .writer h2 {
  font-weight: bold;
}
.page-default .writer.size-m {
  font-size: 24px;
  line-height: 28px;
}
.page-default .writer.size-s + .size-s {
  margin-top: 1em;
}
.page-default .writer p + h1, .page-default .writer p + h2, .page-default .writer p + h3, .page-default .writer p + h4 {
  margin-top: 1.5em;
}
.page-default .writer p + p {
  margin-top: 0.5em;
}
.page-default figure figcaption {
  margin-top: 0.5rem;
}
.page-default .block.headline {
  font-size: 24px;
  line-height: 28px;
}
.page-default .block.headline + .block {
  margin-top: 0;
}
.page-default .block.video iframe {
  width: 100%;
  height: auto;
}
.page-default .block.video .video-wrapper {
  position: relative;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.page-default .block.video .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page-default .block.gallery .grid {
  gap: 1rem;
}
@media screen and (max-width: 619px) {
  .page-default .block.gallery .grid {
    display: block;
  }
  .page-default .block.gallery .grid li + li {
    margin-top: 0.5rem;
  }
}
.page-default .block.gallery .grid li {
  padding: 0 !important;
}
.page-default .block.gallery .grid.gap {
  padding: 0;
}
.page-default .block.gallery[data-crop] li {
  position: relative;
  overflow: hidden;
  padding-bottom: attr(data-crop);
}
.page-default .block.gallery[data-crop] li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-default .block.logos {
  margin-top: 0;
}
.page-default .block.logos h4 {
  margin-top: 2rem;
}
.page-default .block.logos .grid {
  padding: 0;
  margin-top: 2rem;
}
.page-default .block.logos li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-default .block.logos li img {
  max-height: 5rem;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.page-default .block.footer {
  padding: 1rem;
  margin-top: 12rem;
}
.page-default .block.footer nav {
  display: flex;
}
.page-default .block.footer nav a {
  margin-right: 1em;
  -webkit-text-decoration-color: currentColor;
  -webkit-text-decoration-thickness: 1px;
  -webkit-text-decoration-style: solid;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  text-decoration-color: currentColor;
  text-decoration-thickness: 1px;
  text-decoration-style: solid;
  text-underline-offset: 0.2em;
  transition: opacity 200ms ease;
}
.page-default .block.footer nav a:hover {
  opacity: 0.2;
}

.archive .sticky {
  position: sticky;
  z-index: 20;
}
.archive .sticky.top {
  top: 0;
  background-color: #fff;
}
.archive .list {
  min-height: var(--100vhWithoutNavBar);
}
.archive .list > li.open article {
  min-height: var(--100vhWithoutNavBar);
}
.archive .list > li.open.inverted {
  background-color: #000000;
  color: #ffffff;
}
.archive .list > li.hidden {
  display: none;
  visibility: hidden;
}
.archive li.visible:nth-of-type(odd) {
  /* todo */
  background-color: #f6f6f6;
}
.archive article {
  height: auto;
  position: relative;
  display: grid;
  flex-direction: column;
  grid-template-rows: auto 1fr auto;
}
.archive header {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  cursor: pointer;
  z-index: 10;
  pointer-events: none;
  transition: background-color 200ms ease;
}
.archive header h3 {
  padding-right: 1em;
  margin-bottom: 0.5rem;
}
.archive header h3 .title {
  font-size: 28px;
  line-height: 30px;
}
@media screen and (min-width: 960px) {
  .archive header h3 .title {
    font-size: 30px;
    line-height: 32px;
  }
}
.archive header .technique {
  margin-bottom: 8rem;
}
.archive header .translated_title {
  display: block;
  margin-top: 0.5rem;
}
.archive header .grid {
  position: sticky;
  top: var(--archiveControlBarHeight);
  pointer-events: all;
  gap: 1rem 0;
}
@media screen and (max-width: 619px) {
  .archive header .grid {
    gap: 0.5rem 0;
  }
}
.archive .closed header:hover {
  background-color: #eee;
}
.archive main {
  grid-column-start: 1;
  grid-row-start: 3;
  z-index: 1;
  position: sticky;
  top: var(--archiveControlBarHeight);
}
.archive .align-bottom {
  align-self: end;
}
.archive .next-prev a {
  display: inline-block;
  margin-right: 0.3em;
}
.archive .next-prev svg {
  width: 1em;
  height: 1em;
}
.archive .gallery-wrapper {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 4;
}
.archive .gallery-container {
  overflow: hidden;
}
.archive .gallery {
  left: 0;
  width: 100vw;
  height: var(--100vhWithoutNavBar);
}
.archive .gallery img {
  -o-object-position: top left;
     object-position: top left;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: var(--100vhWithoutNavBar);
  width: 100%;
}
.archive .swiper .swiper-button-prev,
.archive .swiper .swiper-button-next {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 10;
  cursor: none !important;
}
.archive .swiper .swiper-button-prev {
  left: 0;
}
.archive .swiper .swiper-button-next {
  right: 0;
}
.archive .swiper .cursor {
  pointer-events: none;
  position: fixed;
  z-index: 999999999999999;
  top: 100px;
  left: 100px;
  transform: translate(-50%, -50%);
}
@media (pointer: coarse) {
  .archive .swiper .cursor {
    display: none !important;
  }
}
.archive .swiper .cursor svg, .archive .swiper .cursor span {
  width: 60px;
  height: 60px;
  display: block;
}
.archive .button {
  -webkit-text-decoration-color: currentColor;
  -webkit-text-decoration-thickness: 1px;
  -webkit-text-decoration-style: solid;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  text-decoration-color: currentColor;
  text-decoration-thickness: 1px;
  text-decoration-style: solid;
  text-underline-offset: 0.2em;
  cursor: pointer;
}
.archive .description p + p {
  margin-top: 0.5em;
}
.archive .details.grid {
  gap: 0.5em 0;
  padding: 1rem 0;
}
.archive .details.grid > [class*=col] {
  padding: 0 1rem;
}
.archive .details dl dt, .archive .details dl dd {
  display: inline;
  margin-right: 0.5em;
}
.archive .details dl dt p, .archive .details dl dd p {
  display: inline-block;
  margin-right: 0.5em;
}
.archive footer {
  position: sticky;
  bottom: 0;
  grid-row-start: 3;
  z-index: 1;
}
.archive .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
.archive .archive-control {
  transition: color 200ms ease;
  position: sticky;
  bottom: 0;
  left: 0;
  background-color: #222;
  --color: white;
  color: var(--color);
  z-index: 20;
}
.archive .archive-control input {
  margin: 0;
  padding: 0;
}
.archive .archive-control .categories li {
  display: inline-block;
  margin-right: 0.3em;
}
.archive .archive-control svg {
  width: 1em;
  height: 1em;
}
.archive .archive-control .button {
  transition: color 200ms ease;
}
.archive .archive-control .button:not(.active) {
  -webkit-text-decoration: none;
  text-decoration: none;
}
.archive .archive-control .button:not(.active):hover {
  color: #ccc;
}
.archive .archive-control select {
  display: block;
  max-width: 100%;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-grid[data-template=works] {
  position: sticky;
  top: 0;
  background-color: white;
}

main.works li a {
  display: block;
  transition: background-color 200ms ease;
  background-color: white;
}
main.works li a:hover {
  background-color: #eee;
}

@media screen and (max-width: 619px) {
  .main-grid .menu-item {
    grid-column-start: 7;
  }
}
@media print, (min-width: 620px) {
  .main-grid .logo,
  .main-grid .menu-item {
    position: sticky;
    top: 1rem;
    align-self: start;
    grid-row-start: 1;
  }
}
.main-grid .logo {
  font-weight: bold;
}
.main-grid .mobile-menu {
  text-align: right;
}
@media print, (min-width: 620px) {
  .main-grid .mobile-menu {
    display: none;
  }
}
.main-grid .mobile-menu a {
  display: inline-block;
  margin-right: 0.3em;
}
@media screen and (max-width: 619px) {
  .main-grid .desktop-menu {
    display: none;
  }
}
.main-grid .menu-item.protected {
  opacity: 0.2;
  cursor: not-allowed;
}
.main-grid .menu-item[aria-current=page] {
  -webkit-text-decoration-color: currentColor;
  -webkit-text-decoration-thickness: 1px;
  -webkit-text-decoration-style: solid;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  text-decoration-color: currentColor;
  text-decoration-thickness: 1px;
  text-decoration-style: solid;
  text-underline-offset: 0.2em;
}

.bold {
  font-weight: bold;
}

@media print, (min-width: 620px) {
  .mobile-only {
    display: none !important;
  }
}

@media screen and (max-width: 619px) {
  .desktop-only {
    display: none !important;
  }
}

[x-cloak] {
  display: none !important;
}

.logo,
.menu-item,
.next-prev,
button {
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}
