@import url(https://db.onlinewebfonts.com/c/6601fbe65008cbf2efe6b69f04759256?family=GT+Haptik+Bold+Regular);

@font-face {
    font-family: type;
    src: url(Fonts/BPmono.woff)
}

@font-face {
    font-family: GT;
    font-weight: 400;
    src: url(Fonts/LL\ Riforma\ Regular.otf)
}

@font-face {
    font-family: "GT Planar Trial Rg";
    src: url("https://db.onlinewebfonts.com/t/0a12755836cf12bb56e244daf6428849.eot");
    src: url("https://db.onlinewebfonts.com/t/0a12755836cf12bb56e244daf6428849.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/0a12755836cf12bb56e244daf6428849.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/0a12755836cf12bb56e244daf6428849.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/0a12755836cf12bb56e244daf6428849.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/0a12755836cf12bb56e244daf6428849.svg#GT Planar Trial Rg")format("svg");
}


html{ 
    overflow-x: hidden;
}

.haptik {
    font-family: "GT";
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
    height: 100%;
    width: 100%;
    background: white;
    font-family: "GT";
    line-height: 1;
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(16px, 1.725vh, 28px);
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(255, 255, 255);
}

img {
    height: 60dvh;
    width: auto;
    justify-content: center;
    z-index: -1000;
}

.hover-text span.hover-card{
    display: none;
}

.hover-text:hover span.hover-card{
    display: flex;
}

.hover-text{
    position: relative;
}

.hover-title {
    display: inline;
    font-style: normal;
    pointer-events: auto;
    cursor: pointer;
}

.hover-image{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75vw;
    height: 75vh;
    visibility: hidden;
}

.hover-image1 {
    display: flex;
    position: absolute;
    padding: 2.75vh 3vh 2.75vh 0;
    top: 0;
    right: 0;
    z-index: -1;
    pointer-events: none;
    flex-direction: column;
    width: auto;
    height: auto;
    visibility: hidden;
}

.hover-title:hover + .hover-image{
    visibility: visible;
}

.hover-title-1:hover + .hover-image{
    visibility: visible;
}

.hover-title a:hover{
    color: gray;
}







div {
    display: block;
}

.nav-container {
    position: fixed;
    overflow-y: hidden;
    top: 0px;
    left: 0px;
    padding: 2.75vh 0 2.75vh 3vh;
    z-index: 200;
    display: block;
    font-size: clamp(28px, 3.45vh, 64px);
    background-color: #00000000;
}

.nav-container-right {
    position: fixed;
    overflow-y: hidden;
    align-content: end;
    bottom: 0px;
    right: 0px;
    padding: 2.75vh 3vh 2.75vh 0;
    z-index: 200;
    display: block;
    font-size: clamp(28px, 3.45vh, 64px);
    background-color: rgba(0, 0, 0, 0);
}

.page-container {
    position: relative;
    box-sizing: border-box;
    display: block;
    height: 100svh;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    z-index: 20;
    padding-top: 2.75vh;
    padding-right: 0px;
    padding-bottom: 2.75vh;
    padding-left: 0px;
    transition: 0.5s;
}

.page-container.active{
    margin-top: -10vh;
    transition: 0.5s;
}


.name {
    line-height: 1;

}

.name-right {
    line-height: 1;
    text-align: right;
}


a {
    display: block;
    font-family: "GT";
    font-size: 28px;
    font-weight: 400;
    margin: 0 0;
    padding-top: 12px;
    text-decoration: none;
    color: #000000;
    cursor: url(point.svg) 16 16, pointer;
    line-height: 1;
}




.right{
    margin-right: 0;
    margin-left: auto;
}

.left{
    margin-left: 0;
    margin-right: auto;
}



p {
    display: block;
    font-family: "GT";
    font-size: 28px;
    font-weight: 500;
    margin: 0 0;
    margin-block-start: 0px;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-decoration: none;
    color: #000000;
}

.dropdown {
    cursor: url(point.svg) 16 16, pointer;
    margin-block-end: 0.5em;
}

.menu-container {
    display: flex;
    flex-direction: column;
    height: 0vh;
    margin-left: -8px;
    transition: 0.5s;
}

.menu-container.active {
    height: 30vh;
    transition: 0.5s;
}

ul {
    display: block;
    padding: 0;
    margin: 0;
    margin-block-end: 1em;
    list-style: none;
    overflow: hidden;
    transition: ease-in-out;
}

li {
    list-style-image: url(pointoutline.svg);
}

.links {
    list-style-image: url(pointoutline.svg);
}

.projects {
    display: list-item;
    vertical-align: middle;
    list-style: none;
}

a.links::before {
    content: url(pointoutline.svg);
    height: 28px;
    width: 28px;
    margin-right: 0;
    vertical-align: middle;
  }

.submenu {
    font-family: "GT";
    font-size: 28px;
    font-weight: 500;
    margin: 0 0;
    margin-block-end: 1em;
    text-decoration: none;
    color: #000000;
}

.content {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    height: calc(var(--vh, 1vh) * 100);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 0;
}

.content-container {
    width: 62.07vh;
    max-width: 90vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wp-content-container {
    position: relative;
}

.section {
    padding-top: 2.75vh;
    margin-bottom: 6.89vh;
}

.section-title {
    font-size: 500%;
    position: relative;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.wp-block-image {
    margin: 0;
}

.image {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 1rem;
    overflow: clip;
}

.image img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: clip;
}


#contact {
    position: absolute;
    font-family: "GT";
    font-size: 28px;
    font-weight: 500;
    bottom: 0;
    width: 100%;
    padding: 2.75vh 3vh;
    z-index: 10;
    overflow-x: hidden;
    line-height: 1;
}



#contact,
footer {
    font-size: clamp(28px, 3.45vh, 64px);
    overflow-x: hidden;
}

footer {
    display: block;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 2.75vh;
    padding-left: 6vh;
    width: 100%;
    z-index: 300;
}



#instagram,
#tel,
#mail {
    margin-bottom: 0em;
}




@media screen and (max-width: 599px) {

    html{ 
        overflow-y: hidden;
    }


    body.active {
        height: 100svh;
    }


    .nav-container {
        position: fixed;
        background: initial;
        padding: 2.75vh 0 2.75vh 2vh;
        font-size: 24px;
        width: 100%;
        height: initial;
        max-height: 100%;
    }
    
    .nav-container-right {
        display: none;
    }

    #contact {
        padding: 0 0 2.75vh 2vh;
        overflow-x: hidden;
    }

    a {
        padding-top: 0px;
    }

    footer {
        padding: 0 0 4.75vw 10vw;
    }
}