@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

@font-face {
    font-family: Boogie;
    src: url(Fonts/BoogieSchoolSans-Middle3rd.woff)
}

@font-face {
    font-family: Tag;
    src: url(Fonts/DeFontePlus-Normale.woff)
}

@font-face {
    font-family: Boogie;
    src: url(Fonts/DeFontePlus-Leger.woff)
}

@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');




html {
    font-family: 'Helvetica Neue', sans-serif; 
    font-weight: 200;
    font-size: 100%
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:hover,
a:focus,
a:active,
div.item:hover {
    cursor: url(point.svg) 16 16, pointer;
}

div.zoom:hover{
    cursor: url(pointoutline.svg) 16 16, pointer;
}

/* Header */

header {
    background-color: white;
}

header.active {
    display: flex;
    position: absolute;
    bottom: 0;
}

li {
    list-style: none;
}

a {
    color: #000000;
    text-decoration: none;
}

h4 {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 200;
    color: #000000;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;

}

.nav-menu {
    display: block;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}





.nav-branding {
    align-items: center;
    font-size: 1.6em;
    color: #000000;
}


.nav-branding-img{
    zoom: 50%;
}


.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    color: #000000;
    margin-bottom: 1em;
}

.nav-link:hover {
    font-weight: 200;
    font-family: 'Helvetica Neue', sans-serif;
}

.nav-info {
    font-size: 1rem;
    color: #000000;
}

.nav-info:hover {
    font-weight: 200;
    font-family: 'Helvetica Neue', sans-serif;
}

.textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:justify;
    color: #000000;
    font-size: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}



h2{
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 25px;
    color: #000000;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }

h2:hover {
    font-weight: 200;
    cursor: url(point.svg) 16 16, pointer;
    font-family: 'Helvetica Neue', sans-serif;
}
.title{
    font-family: "'Helvetica Neue', sans-serif"; 
    font-weight: 200;
    color: #000000;
    cursor: url(point.svg) 16 16, pointer;
    transition: 0.8s;
}



.title.active{
    z-index: 10;
    position: fixed;
    margin-top: 150vh;
    transition: 0.8s;  
}

.hamburger {
    display: none;
    cursor: url(point.svg) 16 16, pointer;
    
}

.bar {
    display: block;
    width: 30px;
    height: 2px;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #023c00;
}

.bottom-right{
    margin-bottom: 3px;

}

@media(max-width:1920px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(10px) rotate(-45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(45deg);
    }

    .nav-menu {
        position: fixed;
        top: -100%;
        left: 0;
        gap: 0;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        width: 100%;
        text-align: center;
        transition: 0.8s;

    }

    .nav-item {
        margin-top: 16px;
        margin-bottom: 1em;
        color: #000000;
        font-weight: 200;
        font-size: 1rem;
    }

    .nav-menu.active {
        height: 100%;
        left: 0;
        top: 0;
        color: #000000;
        padding-top: 0%;
        padding-bottom: 10%;
    }


}

/* Items */

img{
    width: 200px;
}

p{
    font-size: 0.7rem;
}

div.item:hover {
    font-weight: 200;
    font-family: 'Helvetica Neue', sans-serif;
}

div.item {
    width: fit-content;
    height: auto;
    margin-top: 0;
    color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
    text-align: left;
}

div {
    display: inline-block;
    vertical-align: top;

}

div.zoom img {
    height: 90%;
    width: auto;
}

div.zoom p {
    font-size: 30px;
    margin-bottom: 1px;
    position: absolute;
    bottom: 5px;
}

div.zoom {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: white;
}

.hidden {
    display: none;
}
