@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');




html {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: small
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:hover,
a:focus,
a:active,
div.item:hover {
    color: black;
    cursor: url(point.svg) 16 16, pointer;
}

div.zoom:hover{
    cursor: url(pointoutline.svg) 16 16, pointer;
}

/* Header */

header {
    background-color: white;
}

li {
    list-style: none;
}

a {
    color: #023c00;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;

}

.nav-menu {
    display: block;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}





.nav-branding {
    align-items: center;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    color: #023c00;
    zoom: 100%;
}


.nav-branding-img{
    zoom: 50%;
}


.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #023c00;
}

.nav-link:hover {
    color: #abbfae;
}

.nav-info {
    font-size: 1rem;
    color: #023c00;
}

.nav-info:hover {
    color: #abbfae;
}

.textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:justify;
    color: #023c00;
    font-size: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}


.hamburger {
    display: none;
    cursor: url(point.svg) 16 16, pointer;
}

.bar {
    display: block;
    width: 30px;
    height: 2px;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #023c00;
}

.bottom-right{
    margin-bottom: 3px;

}

@media(max-width:1920px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(10px) rotate(-45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(45deg);
    }

    .nav-menu {
        position: fixed;
        top: -100%;
        left: 0;
        gap: 0;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        width: 100%;
        text-align: center;
        transition: 0.8s;

    }

    .nav-item {
        margin-top: 16px;
        margin-bottom: 0px;
        color: #023c00;
        font-size: 1.2rem;
    }

    .nav-menu.active {
        height: 100%;
        left: 0;
        top: 0;
        color: #023c00;

    }


}

/* Items */

img {
    width: 200px
}

div.item:hover {
    color: #abbfae;
}

div.item {
    width: fit-content;
    height: auto;
    margin-top: 0;
    color: #023c00;
}

a {
    text-decoration: none;
    color: #023c00;
    text-align: left;
}

div {
    display: inline-block;
    vertical-align: top;

}

div.zoom img {
    height: 90%;
    width: auto;
}

div.zoom p {
    font-size: 40px;
    margin-bottom: 1px;
    position: absolute;
    bottom: 5px;
}

div.zoom {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: white;
}

.hidden {
    display: none;
}
