html {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 200px;

}

div.item {
    width: fit-content;
    border: 2px solid rgb(255, 255, 255);
    height: auto;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: rgb(155, 71, 7);
    text-align: left;
}

div {
    display: inline-block;
    vertical-align: top;

}