/* Pointer Cursor Override
============================== */

#wrapper a:hover{
	cursor: pointer !important;
}

/* GENERAL
============================== */

#wrapper{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
#wrapper::-webkit-scrollbar{
	display: none;
}
#wrapper.transition,
#wrapper.transition *{
	pointer-events: none !important;
}
main{
	width: 100vw;
	height: fit-content;
	height: -moz-fit-content;
	min-height: var(--hs);
	padding: 60px var(--sides) var(--fsTop);
	display: grid;
	grid-auto-flow: row;
	grid-template-rows: minmax(calc(var(--h)/2 - (var(--h) - var(--hs)) - 15px), min-content);
}
main > :first-child:not(#about){
	grid-row: 2;
}

/*Animated content*/
.animated{
	opacity: 1;
	transform: none;
	-webkit-transition: transform var(--speed_2) var(--ease), opacity var(--speed_2) var(--ease);
		  -o-transition: transform var(--speed_2) var(--ease), opacity var(--speed_2) var(--ease);
			  transition: transform var(--speed_2) var(--ease), opacity var(--speed_2) var(--ease);
}
main:not(.completed) .animated{
	opacity: 0;
	transform: translateY(-30px);
	pointer-events: none;
}
@media (max-width: 768px){
	main:not(.completed) .animated{
		transform: translateY(-15px);
	}
}

/*Position Corrector*/
.pos-wrapper{
	display: grid !important;
	grid-auto-flow: row;
	grid-auto-rows: min-content;
}
.pos-wrapper > wrap{
	margin: var(--posTop) 0 var(--posBottom);
	display: block;
}
.pos-wrapper.box > wrap{
	margin: var(--posTopBox) 0 var(--posBottomBox);
	display: block;
}
.pos-wrapper.text-small > wrap{
	margin: var(--posSTop) 0 var(--posSBottom);
}
.pos-wrapper.text-big > wrap{
	margin: var(--posLTop) 0 var(--posLBottom);
}

/*Cols*/
@media (min-width: 769px){
	.col-2{
		grid-column: 2 span;
	}
	.col-3{
		grid-column: 3 span;
	}
	.col-4{
		grid-column: 4 span;
	}
	.col-5{
		grid-column: 5 span;
	}
	.col-6{
		grid-column: 6 span;
	}
	.col-7{
		grid-column: 7 span;
	}
	.col-8{
		grid-column: 8 span;
	}
}
@media (min-width: 769px) and (max-width: 1180px){
	#archive .col-2,
	#archive .col-3,
	#archive .col-4,
	#archive .col-5{
		grid-column: 6 span;
	}
	#archive .col-6{
		grid-column: 8 span;
	}
	#archive .col-7{
		grid-column: 10 span;
	}
	#archive .col-8{
		grid-column: 10 span;
	}
}
@media (max-width: 768px){
	.col-mob-2{
		grid-column: 4 span;
	}
	.col-mob-3{
		grid-column: 6 span;
	}
	.col-mob-4{
		grid-column: 8 span;
	}
	.col-mob-5{
		grid-column: 10 span;
	}
	.col-mob-6{
		grid-column: 12 span;
	}
	.col-mob-7{
		grid-column: 14 span;
	}
	.col-mob-8{
		grid-column: 16 span;
	}
}
@media (max-width: 320px){
	.col-mob-2,
	.col-mob-3,
	.col-mob-4{
		grid-column: 8 span;
	}
	.col-mob-5,
	.col-mob-6,
	.col-mob-7,
	.col-mob-8{
		grid-column: 16 span;
	}
}
