
/* HEADER
============================== */
header{
	/* position: sticky;
	position: -webkit-sticky; */
	position: fixed;
	top: 0;
	width: 100vw;
	height: 60px;
	padding: 0  0 10px var(--sides);
	float: left;
	white-space: nowrap;
	background: -webkit-linear-gradient(180deg, rgba(255,255,255,.6) 0%, rgba(255,255,255,0) 100%);
	background: 	-moz-linear-gradient(180deg, rgba(255,255,255,.6) 0%, rgba(255,255,255,0) 100%);
	background: 		  linear-gradient(180deg, rgba(255,255,255,.6) 0%, rgba(255,255,255,0) 100%);
	-webkit-user-select: none;
		-moz-user-select: none;
		 -ms-user-select: none;
			  user-select: none;
	pointer-events: none;
	z-index: 9;
}
header .capsule{
	pointer-events: none
}
header .menu-item:not(.active){
	pointer-events: all;
}
#logo{
	cursor: help;
}
