
/* FONTS
============================== */
@font-face{
	font-family: 'Monument';
	src: url('../../Fonts/monument/MonumentGrotesk-Medium.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-display: swap;
	font-family: Haas;
	font-weight: 500;
	src: url(../../Fonts/monument/MonumentGrotesk-Medium.ttf)
  }

/* TEXTS
============================== */
.text-small{
	font-size: var(--fss);
	line-height: var(--lhs);
	letter-spacing: var(--lss);
}
.text-big{
	font-size: var(--fsl);
	line-height: var(--lhl);
	letter-spacing: var(--lsl);
}

/* VARS
============================== */
:root{
	/*Text Small*/
	--fss: 10px;
	--lhs: 1.2;
	--lss: 0.01em;
	--posSTop: -1px;
	--posSBottom: -3px;
	--fssTop: 6px;

	/*Text Normal*/
	--fs: 14px;
	--lh: 1.14285714286;
	--posTopBox: -2px;
	--posBottomBox: -4px;
	--posTop: -1px;
	--posBottom: -5px;
	--fsLeft: 12px;
	--fsTop: 20px;

	/*Text Big*/
	--fsl: 34px;
	--lhl: 1.11764705882;
	--lsl: -0.005em;
	--posLTop: -10px;
	--posLBottom: -11px;
	--fslLeft: 10px;
}
@media (max-width: 1180px){
	:root{
		/*Text Big > Medium*/
		--fsl: 22px;
		--lhl: 1.09090909091;
		--lsl: 0;
		--posLTop: -6px;
		--posLBottom: -7px;
		--fslLeft: 11px;
	}
}
@media (max-width: 768px){
	:root{
		/*Text Big > Normal*/
		--fsl: var(--fs);
		--lhl: var(--lh);
		--posLTop: var(--posTop);
		--posLBottom: var(--posBottom);
		--fslLeft: 0;
	}
}
@media (max-width: 320px){
	:root{
		--fs: 12px;
	}
}
