
/* TYPE TESTER
============================== */
.module-type{
	padding-bottom: 30px;
	display: grid;
	grid-auto-flow: row;
	grid-auto-rows: min-content;
	grid-gap: 30px;
	background-color: #F2F2F2;
}

/*Header*/
.module-type-header{
	height: 30px;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-auto-rows: min-content;
	grid-gap: var(--gap);
	z-index: 2;
}
.module-type-title{
	position: relative;
	width: 100%;
	height: 50px;
	display: block;
	padding-top: var(--fsTop);
	padding-left: var(--fsLeft);
	padding-bottom: 20px;
}
.module-type-title span::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 30px;
	background-color: var(--ctext);
}
@media (max-width: 1180px){
	.module-type-header{
		grid-template-columns: repeat(4, 1fr);
	}
}
@media (max-width: 768px){
	.module-type-header{
		grid-template-columns: repeat(2, 1fr);
	}
}

/*Alts triggers*/
.module-type-alts{
	position: relative;
}
.module-type-trigger{
	position: relative;
	-webkit-user-select: none;
		-moz-user-select: none;
		 -ms-user-select: none;
			  user-select: none;
	z-index: 2;
}
.desktop .module-type-trigger:not(.clear){
	cursor: s-resize;
}
.desktop .module-type-trigger:hover,
.mobile .module-type-trigger.active{
	color: var(--chover);
}
.desktop .module-type-trigger:hover span::after,
.mobile .module-type-trigger.active span::after{
	background-color: var(--chover) !important;
}

/*Alts content*/
.module-type-collapsed{
	position: absolute;
	top: 0;
	bottom: auto;
	width: 100%;
	height: auto;
	margin-top: 15px;
	line-height: calc(var(--lh)*1.1);
	padding: calc(30px + var(--lh)*1em) 0 15px;
	/* display: none; */
	/* opacity: 0; */
	pointer-events: all;
	z-index: 1;
}
.module-type-alt{
	position: relative;
	width: fit-content;
	width: -moz-fit-content;
	padding-left: var(--fsLeft);
	white-space: nowrap;
	-webkit-transition: opacity var(--speed_2) linear;
		  -o-transition: opacity var(--speed_2) linear;
			  transition: opacity var(--speed_2) linear;
	-webkit-user-select: none;
		-moz-user-select: none;
		 -ms-user-select: none;
			  user-select: none;
	cursor: pointer;
}
.module-type-alt:not(.visible){
	opacity: 0;
}
.desktop .module-type-alt:hover{
	color: var(--chover);
}
.module-type-alt.active::before{
	content: '•';
	position: absolute;
	left: .5px;
	-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		 -ms-transform: translateX(-50%);
			  transform: translateX(-50%);
}
@media (max-width: 1180px){
	.module-type-alt{
		padding-top: .2em;
		padding-bottom: 0;
	}
}
@media (max-width: 768px){
	.module-type-alt{
		padding-top: .4em;
	}
}

/*Range*/
.module-type-handler-wrapper{
	position: relative;
	width: calc(100% + var(--gap) + 1px);
}
@media (max-width: 768px){
	.module-type-handler-wrapper{
		display: none;
	}
}
input.module-type-handler{
	width: calc(100% + 60px);
	height: 30px;
	padding-right: 60px;
	caret-color: var(--ctext);
	cursor: ew-resize;
}
.desktop .module-type-handler-wrapper:hover,
.mobile .module-type-handler-wrapper:active{
	color: var(--chover);
}
.module-type-handler::-webkit-slider-thumb{
	width: 1px;
	height: 30px;
	background-color: var(--ctext);
	border: none;
	-webkit-appearance: none;
		-moz-appearance: none;
			  appearance: none;
	box-shadow: none;
	cursor: ew-resize;
}
.desktop .module-type-handler-wrapper:hover .module-type-handler::-webkit-slider-thumb,
.mobile .module-type-handler-wrapper:active .module-type-handler::-webkit-slider-thumb{
	background-color: var(--chover) !important;
}
.module-type-handler::-moz-range-thumb{
	width: 1px;
	height: 30px;
	background-color: var(--ctext);
	border: none;
	-webkit-appearance: none;
		-moz-appearance: none;
			  appearance: none;
	box-shadow: none;
	cursor: ew-resize;
}
.desktop .module-type-handler-wrapper:hover .module-type-handler::-moz-range-thumb,
.mobile .module-type-handler-wrapper:active .module-type-handler::-moz-range-thumb{
	background-color: var(--chover) !important;
}
.module-type-handler-value{
	position: absolute;
	top: 0;
	left: 0;
	width: fit-content;
	width: -moz-fit-content;
	padding-top: var(--fsTop);
	padding-left: calc(var(--fsLeft) - 1px);
	white-space: nowrap;
	-webkit-user-select: none;
		-moz-user-select: none;
		 -ms-user-select: none;
			  user-select: none;
	pointer-events: none;
}
.module-type-handler-value wrap::after{
	content: ' px';
}

/*Content*/
.module-type-editable.blur{
	filter: var(--blur);
	opacity: var(--opacity);
}
.module-type-editable.blur::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.module-type-editable{
	position: relative;
	width: 100%;
	padding: 0 12px;
	display: flex;
	overflow: hidden;
	-webkit-transition: filter var(--speed_2) var(--ease), opacity var(--speed_2) var(--ease);
		  -o-transition: filter var(--speed_2) var(--ease), opacity var(--speed_2) var(--ease);
			  transition: filter var(--speed_2) var(--ease), opacity var(--speed_2) var(--ease);
	cursor: text;
	z-index: 1;
}
.module-type-editable.cols-2 span{
	column-count: 2;
}
.module-type-editable.cols-4 span{
	column-count: 4;
}
.module-type-editable span{
	display: block;
	column-gap: 32px;
}
.module-type-editable span::selection{
	color: var(--cbg);
	background-color: var(--ctext);
}
@media (max-width: 1180px){
	.module-type-editable.cols-2 span{
		column-count: 1;
	}
	.module-type-editable.cols-4 span{
		column-count: 2;
	}
}
@media (max-width: 768px){
	.module-type-editable.cols-4 span{
		column-count: 1;
	}
}
